<div style="padding:20px; background-image: url('assets/images/pizarra/fondoazul.png');">
  <div class="container">
    <!-- navbar -->
    <div style="background-image: url('assets/images/pizarra/PIZARRA_KIDS_Encabezado3.png')
     ; height: 150px; opacity: 0.9; background-attachment: fixed;">

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center animate__animated animate__backInRight"
          style="padding-top: 30px;">
          <img src="assets/images/pizarra/Pizarra2.png" width="150">
          <img src="assets/images/pizarra/KIDS.png" width="70">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 text-center" style="padding-top: 30px;">
          <!-- Boton Modal Iniciar Sesión -->
          <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#login">
            Iniciar Sesión
          </button>

        </div>
      </div>
    </div>
    <!-- fin de navbar -->

    <div class="row">
      <div class="col-lg-8 col-md-8">
        <!-- <div class="row">
          <div class="col-lg-3 col-md-3" style="padding-top: 0px;">
            <h5>Mis Hijos</h5>
          </div>
          <div class="col-lg-3 col-md-3">
            2
          </div>
          <div class="col-lg-3 col-md-3">
            3
          </div>
          <div class="col-lg-3 col-md-3">
            4
          </div>
        </div> -->
      </div>

      <!-- Carta del niño 1 -->
      <div class="col-lg-4 col-md-4" style="padding-top: 10px;">
        <a routerLink="/kid/estini1@mail.com">
          <div class="card shadow" style="opacity: 0.7;">
            <div class="row text-center">
              <div class="col-lg-12 col-md-12">
                <img src="assets/images/pizarra/hijo1.jpg" width="100px">
              </div>
            </div>

            <div class="row text-center">
              <div class="col-lg-12 col-md-12">
                <h4>Esteban Matias López Feróz </h4>
                <h5>Inicial 1 - "A"</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-8">

      </div>

      <!-- Carta del niño 2 -->
      <div class="col-lg-4 col-md-4" style="padding-top: 10px;">
        <a routerLink="/kid/estini2@mail.com">
          <div class="card shadow" style="opacity: 0.7;">

            <div class="row text-center">
              <div class="col-lg-12 col-md-12">
                <img src="assets/images/pizarra/hijo2.jpg" width="100px">
              </div>
            </div>

            <div class="row text-center">
              <div class="col-lg-12 col-md-12">
                <h4>Salomé Ariana López Feróz </h4>
                <h5>Inicial 2 - "A"</h5>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>

    <br>
  </div>

</div>
